.social-list {
  display: flex;
  justify-content: center;

  &__card {
    width: 44px;
    height: 44px;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--social-link-color);
    border-radius: 50%;
    transition: color var(--timing-function) var(--time250ms),
      background-color var(--timing-function) var(--time250ms);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      border-radius: 50%;
      color: var(--white-color);
    }
  }
  &__icon {
    fill: currentColor;
  }
}

//footer

.social-contacts {
  margin-bottom: 60px;

  @media screen and(min-width:768px) {
    width: 50%;
  }
  @media screen and(min-width:1200px) {
    margin-right: 93px;
    width: auto;
  }
}

.contacts-list {
  display: flex;
  justify-content: center;

  &__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    border-radius: 50%;

    transition: background-color var(--timing-function) var(--time250ms);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }

  &__icon {
    fill: currentColor;
  }
}
