:root {
  --primery-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --dark-gray-color: #2f303a;
  --social-link-color: #afb1b8;
  --bgc-txt-color: rgba(33, 150, 243, 0.9);
  --time250ms: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
